                </div><!-- .content role=main -->
                <p id="hart-powered-by" class="desk-only">
                    <a href="http://www.mysociety.org/for-councils/fixmystreet/">Powered by <img src="/cobrands/hart/fms-logo.png" alt="FixMyStreet" style="height:20px;"></a>
                </p>

            </div><!-- .container -->



<div class="hart-footer-wrapper">

    <div class="hart-wrapper">
        <div class="hart-ie_wrapper">
            <div id="hart-footer" class="desk-only">
            	<p class="copy">&copy; Hart District Council </p>

                <!--
            	<a href="http://www.direct.gov.uk/"><img src="/site/images/directgov.jpg" alt="Directgov website link - Public services all in one place" /></a>
                -->

            	<ul class="footer-nav">
            		<li><a href="http://www.hart.gov.uk/disclaimer">Disclaimer</a></li>
            		<li><a href="http://www.hart.gov.uk/freedom-information">Freedom of Information</a></li>
            		<li><a href="http://www.hart.gov.uk/privacy" rel="nofollow">Privacy</a></li>
            		<li><a href="http://www.hart.gov.uk/sitemap">Site map</a></li>
            		<li><a href="http://www.hart.gov.uk/Accessibility">Accessibility</a></li>
            	</ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>
