@import "_colours";
@import "../sass/layout";

.hart-wrapper { background: #fff; }
.offline .hart-wrapper { padding-bottom: 20px; }

// So that map appears underneath the header
.hart-header-wrapper {
    position: fixed;
}
